
<head>
	<title>Footwear</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="~/footwear-master/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="~/footwear-master/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="~/footwear-master/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="~/footwear-master/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="~/footwear-master/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="~/footwear-master/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="~/footwear-master/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/footwear-master/css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="~/footwear-master/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="~/footwear-master/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="~/footwear-master/css/style.css">

</head>